:root {
    --mainColor: #841717;
    --variantColor: #F9CBC5;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --colorLight: #1e1918;
    --background: #F0F0F0;
}
 
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    display: grid;
    grid-template-columns: auto 1fr; 
    grid-template-rows: auto auto 1fr auto; 
    grid-template-areas:
        "header header"
        "sidebar search"
        "sidebar results"
        "footer footer"; 
    height: 100vh; 
    margin: 0;
}

.background-img {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url("https://img.tineye.com/result/4d5d1fdc17905b7112bff6553739fbe9b12b5a9d556f5c445931321a8bbee246-3?size=160");
    background-size: cover;
    filter: blur(10px);
}

header {
    grid-area: header; 
    background-color: var(--colorLight);
    padding: 15px;
    display: flex;
    justify-content: space-between;
}


header #summary a {
    float: left;  
    font-size: 30px;
    text-decoration: none; 
    color: var(--color-white);
    margin-left: 30px;
}

header #summary a:hover {
    text-decoration: underline;
}

#home-arr {
    margin-right: 5px;
}

header #title {
    margin-right: 50px;
    margin-top: -5px;
    color: var(--color-white);
}

#checkout-cart {
    font-size: 35px;
    padding-left: 15px;
    color: var(--color-white);
}

#checkout-cart:hover {
    cursor: pointer;
    color: var(--mainColor);
}

/* ================= Sidebar ================= */

.sidebar {
    height: 375px;
}

.sidebar {
    grid-area: sidebar; 
    background-color: #4b1400;
    padding: 1.5rem;
    margin-top: 1.25rem; 
    margin-right: 1rem;
    margin-left: 11rem;
    transition: height 0.6s ease;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
    margin-bottom: 50px;
    overflow: hidden;
    width: 250px;
}

.dropbtn {
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 15px;
    border-radius: 2px;
    background-color: white;
    border: none;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
}

.icon {
    float: right;
}

.sidebar h2 {
    margin-bottom: 0.5rem;
    font-size: 25px;
    color: var(--color-white);
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #742d19; 
    box-shadow: 0px 8px 16px 0px rgba(255,255,255,0.1);
    padding: 12px 16px;
    margin-top: -5px;
    z-index: 1;
    color: var(--color-white);   
}

.show {
    display: block;
}


/* ================= Search Container ================= */

.search-container {
    grid-area: search;
    background-color: #e6e6e6;
    padding: 1.5rem;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-top: 1.25rem; 
    margin-left: 1rem;
    margin-right: 8rem;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.2);
    width: 81%;
}

.search-options {
    margin-bottom: 0.85rem; 
}

.search-options label {
    margin-right: 0.5rem;
    font-size: 20px;
    border: none;
}

.search-options select,
.search-options input[type="text"] {
    padding: 0.25rem;
}

.search-options input[type="text"] {
    width: 300px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 5px;
    height: 22px;
}

.search-options select {
    width: 100px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#search-btn {
    background-color: #85583d;
    color: #fff;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px; 
}

#search-btn a {
    color: white;
}

#search-btn:hover {
    background-color: #56290b;
}


/* ================= Catalog Results Container ================= */

.catalog-container {
    grid-area: results;
    background-color: #e6e6e6;
    width: 84%;
    margin-top: 1rem; 
    margin-left: 1rem;
    margin-right: 8rem;
    height: 825px;
    margin-bottom: 50px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.3);
}

.top-bar {
    background-color: #48494A;
    color: white;
    height: 40px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.top-bar label {
    margin-left: 10px;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}


.catalog-item {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1.5px solid #ccc;
    padding-bottom: 20px;
    font-size: 20px;
}

.catalog-item-info {
    display: flex;
    align-items: flex-start;
}

.catalog-item-info img {
    width: 125px;
    height: auto;
    margin-right: 25px;
}

#author-place, #year-place, #director-place, #brand-place, #cond-place {
    padding-bottom: 10px;
}

.item-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.item-buttons button {
    margin-bottom: 10px;
    background-color: white;
    border: none;
    font-size: 17px;
    border-radius: 2px;
    padding: 10px;
}

.item-buttons button:hover {
    background-color: #48494A;
    color: white;
    cursor: pointer;
}

.no-results {
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    margin-top: 2rem;
}

#itemIsAvail {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.halt-hold {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
    width: 50%;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    height: 90px;
}

#halt-hold-msg {
    padding-bottom: 20px;
}

#accept-msg {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#accept-msg:hover {
    background-color: #0056b3;
    color: white;
}

#itemIsNotAvail {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.halt-add {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
    width: 50%;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    height: 90px;
}

#halt-add-msg {
    padding-bottom: 20px;
}

#accept-msg {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#accept-msg:hover {
    background-color: #0056b3;
    color: white;
}


/* ================= Footer Section ================= */

footer {
    grid-area: footer;
    background-color: var(--colorLight);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    z-index: 1000;
}
