:root {
    --mainColor: #841717;
    --variantColor: #F9CBC5;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --colorLight: #1e1918; 
    --background: #F0F0F0;
}

body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: auto 1fr; 
    grid-template-rows: auto auto 1fr auto; 
    grid-template-areas:
        "header header"
        "content content"
        "extraBtn extraBtn"
        "footer footer"; 
    height: 100vh; 
    margin: 0;
    background: var(--background);
    background-size: cover;
    overflow-x: hidden;
}

header {
    grid-area: header;
    width: 100%;
}

/* ===================== Top Bar ===================== */
.top-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.library-name a {
    font-size: 40px;
    text-decoration: none;
    color: var(--mainColor);
}

.managementButtons {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.button {
    padding: 12px 24px;
    border-radius: 20px;
    background-color: var(--mainColor);
    color: var(--color-white);
    font-size: 20px;
    text-decoration: none;
}

.button:hover {
    background-color: var(--colorLight);
}

#checkout-cart {
    font-size: 40px;
    padding-left: 5px;
    color: var(--mainColor);
}

#checkout-cart:hover {
    cursor: pointer;
    color: var(--colorLight);
}

/* ===================== Nav Bar ===================== */
nav {
    background-color: var(--colorLight);
}

nav ul {
    list-style-type: none;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: var(--color-white);
    text-decoration: none;
    padding: 10px 20px;
    font-size: 25px;
}

nav ul li a:hover {
    background-color: var(--mainColor);
}

nav {
    float: left;
    width: 100%;
}


/*===================== Library Image ===================== */
.content {
    grid-area: content;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.library-picture {
    margin-top: 20px;
    text-align: center;
    max-width: 40%;
    float: left;
    overflow: hidden;
    padding-left: 20px;
}

.library-picture img {
    max-width: 100%;
    height: auto;
}

.library-title {
    text-align: left;
    color: var(--color-black); 
}

.branch-info {
    max-width: calc(100% - 40px);
    margin: 0 auto;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
}

.branch-details p {
    margin-bottom: 10px;
}

.branch-details {
    width: calc(50% - 10px);
    margin: 30px 5px;
    font-size: 20px;
    text-align: left;
}

.branch-hours {
    width: calc(50% - 10px);
    margin: 30px 5px;
    font-size: 20px;
    text-align: left;
    position: relative;
    top: 0;
    bottom: auto;
    margin-bottom: 50px;
    margin-top: -5px;
}

.branch-hours ul {
    list-style-type: none;
    padding: 0;
}

/* ================= Branch info and hours name ================= */

.branch-info-name, .branch-hours-name {
    position: relative;
    margin-bottom: 10px;
}

.branch-info-name::after, .branch-hours-name::after {
    content: '';
    position: absolute;
    bottom: -5px;    
    width: 60%;
    height: 5px; 
    background-color: var(--mainColor);
}

/* ================= Additional Buttons ================= */

.additional-buttons {
    grid-area: extraBtn;
    position: relative;
    display: flex;
    justify-content: center; 
}

.button.return-items,
.button.search-catalog,
.button.checkout {
    display: flex; 
    margin: 0 10px;
    padding: 5px 60px;
    justify-content: center;
    text-align: center; 
    text-decoration: none; 
    color: var(--color-white); 
    background-color: var(--mainColor); 
    border: none; 
    border-radius: 10px; 
    font-size: 35px;
    margin-bottom: 65px;
    height: 50px;
}

.button.return-items:not(:last-child),
.button.search-catalog:not(:last-child),
.button.button.checkout:not(:last-child) {
    margin-right: 100px; 
}

.button.return-items:hover, 
.button.search-catalog:hover, 
.button.checkout:hover {
    background-color: var(--colorLight);
}

/* ================= Bottom Section ================= */

footer {
    grid-area: footer;
    background-color: var(--colorLight);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    margin-top: 200px;
}

#admin_link a {
    color: white;
    text-decoration: none;
}

#admin_link a:hover {
    text-decoration: underline;
    color: rgb(7, 80, 197);
}



