:root {
    --mainColor: #841717;
    --variantColor: #F9CBC5;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --colorLight: #ADAD80;
    --background: #F0F0F0;
}
 
body, h1, h2, h3, h4, h5, h6, p, ul, li {
    margin: 0;
    padding: 0;
}


body {
    display: grid;
    grid-template-columns: auto 1fr; 
    grid-template-rows: auto auto 1fr auto; 
    grid-template-areas:
        "header header"
        "sidebar search"
        "sidebar results"
        "footer footer"; 
    height: 100vh; 
    margin: 0;
}

header {
    grid-area: header; 
    background-color: var(--colorLight);
    padding: 20px;
}


header .library-name {
    float: left;  
}

.library-name a {
    font-size: 40px;
    text-decoration: none; 
    color: var(--mainColor);
}


header nav {
    float: right;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 26px;
}

header nav ul li a:hover {
    color: var(--mainColor);
}

/* ================= Sidebar ================= */

.sidebar {
    height: 325px;
}

.sidebar {
    grid-area: sidebar; 
    background-color: #8E9B8D;
    padding: 1.5rem;
    margin-top: 1.25rem; 
    margin-right: 1rem;
    margin-left: 11rem;
    transition: height 0.6s ease;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-bottom: 50px;
    overflow: hidden;
    width: 250px;
}

.dropbtn {
    margin-bottom: 5px;
    margin-top: 15px;
    font-size: 15px;
    border-radius: 2px;
    background-color: white;
    border: none;
    padding: 10px 20px;
    width: 100%;
    text-align: left;
}

.icon {
    float: right;
}

.sidebar h2 {
    margin-bottom: 0.5rem;
    font-size: 25px;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: #9EBE9B;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    margin-top: -5px;
    z-index: 1;
   
}

.show {
    display: block;
}


/* ================= Search Container ================= */

.search-container {
    grid-area: search;
    background-color: #e6e6e6;
    padding: 1.5rem;
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
    margin-top: 1.25rem; 
    margin-left: 1rem;
    margin-right: 8rem;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    width: 81%;
}

.search-options {
    margin-bottom: 0.85rem; 
}

.search-options label {
    margin-right: 0.5rem;
    font-size: 20px;
    border: none;
}

.search-options select,
.search-options input[type="text"] {
    padding: 0.25rem;
}

.search-options input[type="text"] {
    width: 300px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin-right: 5px;
    height: 22px;
}

.search-options select {
    width: 100px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

#search-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    font-size: 15px; 
}

#search-btn:hover {
    background-color: #366D9E;
}


/* ================= Catalog Results Container ================= */

.catalog-container {
    grid-area: results;
    background-color: #e6e6e6;
    width: 84%;
    margin-top: 1rem; 
    margin-left: 1rem;
    margin-right: 8rem;
    height: 825px;
    margin-bottom: 50px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.top-bar {
    background-color: #48494A;
    color: white;
    height: 40px;
    margin-bottom: 20px;
    width: 100%;
    display: flex;
    align-items: center;
}

.top-bar label {
    margin-left: 10px;
    margin-right: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
}

.catalog-item {
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1px solid #ccc;
    padding-bottom: 20px;
    font-size: 20px;
}

#author, #yearRels {
    padding-bottom: 10px;
}

.item-buttons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.item-buttons button {
    margin-bottom: 10px;
    background-color: white;
    border: none;
    font-size: 17px;
    border-radius: 2px;
    padding: 10px;
}

.item-buttons button:hover {
    background-color: #48494A;
    color: white;
    cursor: pointer;
}


/* ================= Footer Section ================= */

footer {
    grid-area: footer;
    background-color: var(--colorLight);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    z-index: 1000;
}
