:root {
    --mainColor: #841717;
    --variantColor: #F9CBC5;
    --color-black: #000000;
    --color-white: #FFFFFF;
    --colorLight: #1e1918;
    --background: #F0F0F0;
}


body {
    display: grid;
    grid-template-columns: auto auto; 
    grid-template-rows: auto 1fr auto; 
    grid-template-areas:
        "header header"
        "items details"
        "footer footer"; 
    height: 100vh; 
    margin: 0;
    overflow-x: hidden;
}


header {
    grid-area: header; 
    background-color: var(--colorLight);

    display: flex;
    justify-content: space-between;
}


header #summary a {
    float: left;  
    font-size: 30px;
    text-decoration: none; 
    color: var(--color-white);
    margin-left: 40px;
}


header #summary a:hover {
    text-decoration: underline;
}

#home-arr {
    margin-right: 5px;
}

header #title {
    margin-right: 70px;
    color: var(--color-white);
}



/* =============== Selected Items from Catalog =============== */

.selected-items {
    grid-area: items;
    margin-top: 42px;
    justify-content: center;
    margin-right: 120px;
    margin-left: 11rem;
    width: 70%;
    gap: 20px;
}

.return-form {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 17px;
    background-color: #ECEBEB; 
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

#transacLabel {
    margin-left: 15px;
}

input[type="text"] {
    margin-left: -60px;
    width: 175px;
}

#search-btn{
    background-color: #007bff;
    font-size: 17px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 25px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

#search-btn:hover {
    background-color: #0056b3;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}


.transac-item {
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 1.5px solid #ccc;
    padding-bottom: 20px;
    font-size: 20px;
}

.catalog-item-info {
    display: flex;
    align-items: flex-start;
}

.catalog-item-info img {
    width: 125px;
    height: auto;
    margin-right: 25px;
}

.catalog-item-info p {
    color: #c0c1c0; 
}

.catalog-item-info span {
    color: var(--color-black);
}

#item_id {
    color: #2c98ff;
}

.add-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #00ac45;
    margin-bottom: 10px;
    background-color: white;
    font-size: 17px;
    border-radius: 5px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-color: #00ac45;
}

.add-btn:hover {
    background-color: #00ac45;
    color: white;
    cursor: pointer;
}

.add-btn i {
    margin-right: 8px;
}

.rotate-icon {
    transition: transform 0.5s ease-in-out;
    transform: rotate(360deg);
}


/* =============== Transaction Details =============== */

.transaction-details {
    grid-area: details;
    margin-top: 45px; 
    margin-left: 5px;
    margin-right: 5rem;
    background-color: #ECEBEB;
    width: 400px;
    height: 260px;
    padding-top: 10px; 
    padding-left: 20px;
    padding-right: 20px;
    text-align: left;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}

#total-items-line {
    font-size: 18px;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ccc;
    padding-bottom: 10px;
}

#finalize-btn {
    padding: 12px 16px;
    font-size: 18px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3); 
}
#finalize-btn a {
    text-decoration: none;
    color: var(--color-white);
}

#finalize-btn:hover {
    background-color: #0056b3;
}

#myModal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
  
.modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    font-family: sans-serif;
}

#messg {
    margin-left: 2.5rem;
}

#cancel-return {
    margin-left: 8.5rem;
}

#confirm-return, #cancel-return {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    padding: 7px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#confirm-return:hover, #cancel-return:hover {
    background-color: #0056b3;
    color: white;
}

#successful-return {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.return-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    max-width: 400px;
    width: 50%;
    text-align: center;
    font-family: sans-serif;
    font-size: 18px;
    height: 100px;
}

#accept-msg {
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    font-size: 18px;
    border: none;
    padding: 10px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

#accept-msg:hover {
    background-color: #0056b3;
    color: white;
}

  


/* =============== Footer Section =============== */

footer {
    grid-area: footer;
    background-color: var(--colorLight);
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    z-index: 1000;
}